@font-face {
  font-family: teko;
  src: url(./Teko/Teko-VariableFont_wght.ttf);
}
body {
  position: relative;
  display: grid;
  grid-template-columns: minmax(180px, 325px) minmax(480px, 1fr); 
  grid-template-rows: 40px 1fr;
  margin: 0;
  font-size: 32px;
  font-family: teko;
  height: 100vh;
}

.side-bar,
.main,
form,
.create,
.task-container {
  display: flex;
  flex-direction: column;
}

header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: #ffd43b;
  padding-left: 16px;
}

.side-bar {
  position: relative;
  background-color: #463f3a;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  gap: 5px;
  padding: 10px 5px;
}

.side-bar button {
  text-align: start;
}

.create button,
.side-bar button,
.dialog-add,
.dialog-cancel,
.project-container button,
.task-container button {
  font-size: 1rem;
  color: #ffffff;
  border-style: none;
  background-color: inherit;
  font-family: inherit;
  font-size: 22px;
  border-radius: 5px;
  cursor: pointer;
}

.task-container button {
  color: #3f0404;
}

.dialog-add,
.dialog-cancel {
  color: black;
}

.main {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #f2e9e4;
  padding: 15px 0px 15px 25px;
  gap: 10px;
  overflow: scroll;
}

.min-tab,
.project-list {
  margin-left: 16px;
}

img {
  height: 17px;
}

.add-button {
  background: no-repeat url(./plus-solid.svg);
  background-size: 35px;
  position: absolute;
  bottom: 80px;
  right: 5%;
  border-radius: 50%;
  background-position: center;
  height: 55px;
  width: 55px;
  border-style: none;
  background-color: #a7998e;
  cursor: pointer;
}

.add-button:hover {
  background-color: #b2a69d;
}

.side-bar button:hover,
.side-bar button:focus,
.create button:hover {
  background-color: #86817d;
}

hr {
  margin: 0;
  border-style: solid;
  color: #a7998e;
}

dialog {
  background-color: #ffd43b;
  border-radius: 10px;
  border-style: none;
  width: 400px;
  padding: 16px;
}

form p {
  margin: 0 0 15px;
}

.project-container p,
.task-container p {
  margin: 10px;
}

.bottom-div {
  text-align: end;
}

input,
select,
textarea {
  border-style: none;
  border-bottom-style: solid;
  background-color: #ffd43b;
  font-family: inherit;
  font-size: 30px;
  color: #463f3a;
}

select,
input[type="date"],
textarea {
  font-size: 20px;
}

.color-picker {
  border-style: none;
  border-radius: 5px;
  width: 25px;
  height: 25px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

form {
  gap: 8px;
}

dialog::backdrop {
  background-color: #403d39;
  opacity: 0.5;
}

input[type="date"] {
  background-color: #ffd43b;
}

select {
  appearance: none;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.create {
  position: absolute;
  bottom: 115px;
  right: 115px;
  border-radius: 10px;
  padding: 15px;
  font-size: 2rem;
  gap: 5px;
  width: 100px;
  background-color: #463f3a;
  visibility: hidden;
}

.create,
.add-button {
  box-shadow: 0px 5px 8px 3px #8e8279;
}

.project-container {
  border-style: none;
  display: flex;
  border-radius: 20px 0 0 20px;
  background-color: #edd787;
  cursor: pointer;
}

.project-container:hover {
  border-color: #463f3a;
  border-style: double;
}

.task-container {
  position: relative;
  border-bottom-style: solid;
  align-items: start;
  cursor: pointer;
}

.checkboxNname,
.info {
  display: flex;
  align-items: center;
}

.checkboxNname > p {
  margin: 0px 10px;
}

.checkboxNname img,
.project-icon-task {
  position: absolute;
  right: 20px;
}

.project-icon-task {
  display: flex;
  gap: 5px;
  bottom: 5px;
}
.checkboxNname p,
.checkboxNname img {
  font-size: 30px;
}

.info > p {
  margin: 0px;
  font-size: 17.5px;
}
.info {
  margin-left: 30px;
  display: flex;
  gap: 20px;
}

#priority {
  display: flex;
}

input[type="checkbox"]:checked + p {
  text-decoration: line-through;
}

input[type="checkbox"] {
  border-radius: 4px;
  appearance: none;
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 1.5px;
  cursor: pointer;
}

input[type="checkbox"]:checked::after {
  position: absolute;
  content: "✓";
  width: 2px;
  height: 2px;
  top: 4px;
}

.project-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.project-icon {
  margin-bottom: 5px;
}

footer {
    position: absolute;
    color: #ffd43b;
    font-size: 20px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
